<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <description>Sistema de Gestão Escolar</description>
  <display-name>Sige</display-name>
  <display-name>sige</display-name>
  <servlet>
    <servlet-name>usuarioform</servlet-name>
    <servlet-class>br.ueg.si.sige.UsuarioForm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>entidadeform</servlet-name>
    <servlet-class>br.ueg.si.sige.EntidadeForm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loginform</servlet-name>
    <servlet-class>br.ueg.si.sige.LoginForm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>alunoform</servlet-name>
    <servlet-class>br.ueg.si.sige.AlunoForm</servlet-class>
  </servlet>
  <servlet>
    <description>Added by JBuilder to compile JSPs with debug info</description>
    <servlet-name>debugjsp</servlet-name>
    <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
    <init-param>
      <param-name>classdebuginfo</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>turmaform</servlet-name>
    <servlet-class>br.ueg.si.sige.TurmaForm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>dossieform</servlet-name>
    <servlet-class>br.ueg.si.sige.DossieForm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>matriculaform</servlet-name>
    <servlet-class>br.ueg.si.sige.MatriculaForm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>fechaanoform</servlet-name>
    <servlet-class>br.ueg.si.sige.FechaAnoForm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>transferenciaform</servlet-name>
    <servlet-class>br.ueg.si.sige.TransferenciaForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usuarioform</servlet-name>
    <url-pattern>/usuarios</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>entidadeform</servlet-name>
    <url-pattern>/entidades</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginform</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>alunoform</servlet-name>
    <url-pattern>/academico/alunos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>debugjsp</servlet-name>
    <url-pattern>*.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>turmaform</servlet-name>
    <url-pattern>/turmas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dossieform</servlet-name>
    <url-pattern>/academico/dossie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>matriculaform</servlet-name>
    <url-pattern>/academico/matriculas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>fechaanoform</servlet-name>
    <url-pattern>/academico/fechaano</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>transferenciaform</servlet-name>
    <url-pattern>/academico/transferencia</url-pattern>
  </servlet-mapping>
</web-app>
